@import'breakpoints.scss';


.cover {
  background: linear-gradient(
    88.63deg,
    rgba(0, 0, 0, 0.75) 30.22%,
    rgba(0, 0, 0, 0) 64.36%
  ), url(/images/smileyGuy.svg);
  color: white;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  align-items: center;
  height: 630px;
  transition: all 4s ease;
  @media screen and (max-width: 780px) {
    background-position: -400px 0px;
  }

  @media screen and (max-width: 576px) {
    height: 530px;
    padding: 1rem;
  }
  
  .textAnimate{
    // width: 90%;
    // background-color: red;
    // height: 10px;
    // height: max-content;
    color: #FBB13C;
    transition: all 1.75s ease;
    opacity: 0;
    position: absolute;
    
    transform: scale(1) translateY(100%);
  }
  
  .cardActive {
    opacity: 1;
    transform: scale(1) translateY(0);
    /* background-color: #EC3338; */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
    // z-index: 1;
  }
  
  .cardPrev {
    transform: scale(0.85) translateY(-100%);
    // z-index: 2;
    opacity: 0;
    visibility: hidden;
  }
  
  .cardNext {
    transform: scale(0.85) translateY(100%);
    /* background-color: #29292A; */
    // opacity: 1;
    z-index: 0;
  }
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    // margin: 0;
    color: #ffffff;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 576px) {
      font-size: 40px;
      line-height: 40px;
    }
    @media screen and (max-width: 1519px) and (min-width: 902px) {
      font-size: 50px;
      line-height: 40px;
    }
  }
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    // font-size: 40px;
    line-height: 45px;
    // color: rgba(255, 255, 255, 0.95);
    color: #00c5f7;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .button {
    font-family: "Montserrat";
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    // padding: 15px 16px;
    width: 148px;
    height: 54px;
    margin-top: 2rem;
    background: #009bc0;
    border: 0;
    outline: 0;
    border-radius: 5px;
    @media screen and (max-width: 576px) {
      // padding: 15px 16px;
    width: 108px;
    height: 44px;
    }
  }
}
.galleryViewer {
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 1px;
  // background-color: #009bc0;
  // width: max-content;
  height: 60px;
  // position: relative;
  .slider {
    // display: block;
    // position: static;
    // background-color: aquamarine;
    // align-items: center;
    overflow: hidden;
    // height: 20px;
    // background-color: #009bc0;
    // z-index: 30;
    // animation: marquee 10s linear 0s infinite;
    .sliderElems {
      z-index: -3px;
      // display: inline-flex;
      //   height: 100px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0%, 10%);
    // left: 0;
  }
  100% {
    // left: -100%
    transform: translate(0, -100%);
  }
}

@-webkit-keyframes marquee {
  0% {
    transform: translate(0%, 0%);
    // left: 0;
  }
  100% {
    // left: -100%
    transform: translate(0, -100%);
  }
}
