.cover {
    color: #009bc0;
    display: flex;
    padding: 2rem;
    justify-content: center;
    overflow: hidden;
    // align-items: center;
    // height: 130px;
    @media screen and (max-width: 576px) {
      padding: 2rem 0rem;
    }
    a{
      text-decoration: none;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 79%;

        @media screen and (max-width: 780px) {
          width: 850%;
          align-items: flex-start;
        }

        @media screen and (max-width: 576px) {
          align-items: flex-start;
          justify-content: space-between;
        width: 100%;
        // background-color: #009bc0;
        }
        a{
          width: 50%;
          display: flex;
          justify-content: center;
        }
        
        .contents{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          margin: 0 auto;
          @media screen and (max-width: 576px) {
            width: 100%;
          }
        }
        
        .bar{
          width: 3px;
          height: 50%;
          background-color: silver;
          @media screen and (max-width: 780px) {
            height: 70%;
          }
          @media screen and (max-width: 576px) {
            opacity: 0;
            display: none;
            width: 2px;
            // height: 70%;
            align-self: center;
          }
        }
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      margin-top: 10px;
      color: #009bc0;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      @media screen and (max-width: 576px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 35px;
      color: rgba(255, 255, 255, 0.95);
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    .button {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      padding: 15px 16px;
      width: 248px;
      height: 54px;
      margin-top: 3rem;
      background: #009bc0;
      border: 0;
      outline: 0;
      border-radius: 5px;
    }
  }
  .galleryViewer {
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 1px;
    // width: 100%;
    height: 40px;
    .slider {
      // position: static;
      // background-color: aquamarine;
      // align-items: center;
      // overflow: hidden;
      // max-height: 100%;
      animation: marquee 10s linear 0s infinite;
      .sliderElems {
        z-index: -3px;
        // display: inline-flex;
        //   height: 100px;
      }
    }
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0%, 10%);
      // left: 0;
    }
    100% {
      // left: -100%
      transform: translate(0, -100%);
    }
  }
  
  @-webkit-keyframes marquee {
    0% {
      transform: translate(0%, 0%);
      // left: 0;
    }
    100% {
      // left: -100%
      transform: translate(0, -100%);
    }
  }
  